<p class="text-right">新しくアサインするユーザー</p>
<%= form_with(model: @task,local: true) do |form|%>
  <div class="form">
    <div class="form-body">
      <%= form.collection_select(:user_id, @users, :id, :name)%>
      <%= form.submit "アサイン", class: "btn btn-success"%>
    </div>
  </div>
<% end %>
  
現在アサインされているユーザー
<p><%= @task.user.name %></p>
<p id="notice"><%= notice %></p>
<div class="mx-auto" style="width: 900px;">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h1 class="card-title"><%= @task.title %></h1>
          <p class="card-text">
          <%= @task.content %><br>
          期限: <%= @task.deadline %><br>
          ステータス: 
          <% if @task.status == 0 %>
          未対応
          <% elsif @task.status == 1  %>
          対応中
          <% else %>
          完了
          <% end %>
          </p>
        </div>
    </div>
</div>
