<%= form_with(model: task, local: true) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
  
        <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= form.label :deadline %>
      <%= form.date_select :deadline, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= form.hidden_field :user_id, :value => current_user.id %>
    </div>
  
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, [['未対応',0],['対応中',1],['完了',2]] %>
    </div>
  
    <div class="actions">
      <%= form.submit "登録する", class: "btn btn-success" %>
    </div>
  <% end %>  