<p id="notice"><%= notice %></p>

<h1>タスク一覧</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>期限: </th>
      <th>担当者: </th>
      <th>ステータス: </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.user.name %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
      <% if task.user_id.to_i == current_user.id %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
        </tr>
    <% end %>
  </tbody>
</table>