<p id="notice"><%= notice %></p>
<div class="mx-auto" style="width: 900px;">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h1 class="card-title"><%= @task.title %></h1>
          <p class="card-text">
          <%= @task.content %><br>
          期限: <%= @task.deadline %><br>
          担当者: <%= @task.user.name %><br>
          ステータス: 
          <% if @task.status == 0 %>
          未対応
          <% elsif @task.status == 1  %>
          対応中
          <% else %>
          完了
          <% end %>
          </p>
          <% if @task.user_id.to_i == current_user.id %>
            <%= link_to '編集', edit_task_path(@task), class: "btn btn-primary" %> |
            <%= link_to 'アサイン', '/tasks/:id/assign', method: :get, class: "btn btn-success" %>
          <% end %>
          <%= link_to '一覧へ戻る', tasks_path, class: "btn btn-light" %>
        </div>
    </div>
</div>